##### Write a Python program to print "Hello, World!".

In [1]:
print("Hello, World!")

Hello, World!

##### Write a program to print your name, age, and favorite color in separate lines.

In [3]:
name = "abc"
color = "blue"
age = 10

print(name,color,age,sep = "\n")

abc
blue
10

#####  Print the following pattern using the print() function:

* 
** 
*** 
**** 
*****

In [4]:
star = "*"
print(1* star)
print(2* star)
print(3* star)
print(4* star)
print(5* star)

*
**
***
****
*****

In [12]:
print(1*star,2*star,3*star,4*star,5*star,sep = "\n")

*
**
***
****
*****

##### Write a program to print your full name with a tab space between the first and last name.

In [22]:
first = "Python"
last = "Code"
print(first,last)
print(first+"\t"+last)
first = "Python"
last = "Code"
print(f"{first}\t{last}")
print(first,last,sep = "\t")
print(f"{first}\t{last}")

Python Code
Python	Code
Python	Code
Python	Code
Python	Code

##### Write a Python program to print a quote with double quotes around it, like this: "This is a quote".

In [28]:
print('"this is a quote"')
print("\"This is a quote\"")
print('" this is a quote"')

"this is a quote"
"This is a quote"
" this is a quote"

In [36]:
print("'This is a quotes'")

'This is a quotes'

In [34]:
print("Hello \" world")

Hello " world

### Use print() to display the following text on separate lines using escape characters: 
Hello 

Welcome to Python Programming!

In [37]:
print("Hello\nWelcome to Python Programming!")

Hello
Welcome to Python Programming!

### Create variables for your first name, last name, and age, and then print a sentence like "My name is John Doe, and I am 25 years old."

In [38]:
name = input("enter your name")
age = input("enter your age")
print("My name is",name,", and I am",age,"year old.")

enter your nameabc
enter your age50
My name is abc , and I am 50 year old.

In [48]:
print(f"My name is {name}, and I am {age} year old.")

My name is abc, and I am 20 year old.

In [46]:
name1="Manisha"
name2="Maurya"
age=20
print("My name is", name1, name2, "and I am" ,age,"years old" )

My name is Manisha Maurya and I am 20 years old

###  Write a program that takes two variables, a and b, and prints their values in a single line separated by a comma.

In [49]:
a=20
b=30
print(a,b, sep=",")

20,30

### Write a program that prints the sum, difference, product, and quotient of two numbers, num1 and num2.

In [50]:
num1=int(input())
num2=int(input())
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)

45
45
90
0
2025
1.0

### Print the square of a number in the format "The square of 5 is 25".

In [51]:
num = int(input("Enter any number for square"))
print(f"The square of {num} is {num *num}")

Enter any number for square4
The square of 4 is 16

### Write a program to print the following using escape sequences: 

Line1 

    Line2 
           Line3

In [52]:
print("Line1\n\tLine2\n\t\tLine3")

Line1
	Line2
		Line3

### Print a string that includes both single and double quotes, such as: 
It's a "beautiful" day!

In [56]:
print('It\'s a "beautiful" day!')

It's a "beautiful" day!

### Use an f-string to print "Hello, [name]!" where [name] is a variable holding your name.

In [57]:
name="Manisha"
print(f"Hello, {name}!")

Hello, Manisha!

### Given two variables, x and y, print them in the format "x = [x_value], y = [y_value]" using f-strings.

In [64]:
x = 12
y = 54
print(f"x = [{x}] , y = [{y}]")

x = [12] , y = [54]

### Write a program that prints numbers from 1 to 5 in a single line, separated by a comma.

In [59]:
x = 10
y = 3
print(f"x = {x}, y = {y}")
print(*range(1,6),sep=',')

x = 10, y = 3
1,2,3,4,5

### Create a program that prints the following formatted text:


Name     Age    City 

Alice    25     New York 

Bob      30     Los Angeles 

Charlie  35     Chicago

In [70]:
print(f"{'name':<8} {'Age':<8} {'City'}")

name     Age      City
name     Age      City

In [71]:
print(f"{'name':<8} {'Age':<8} {'City'}\n{'Alice':<8}{'25':<8}{'New york':<8}")

name     Age      City
Alice   25      New york

In [72]:
print(f"{'name':<6} {'Age':<6} {'City'}")
print(f"{'Alice':<6} {'25':<6} {'New York'}")
print(f"{'Bob':<6} {'30':<6} {'Los Angeles'}")
print(f"{'Charlie':<6} {'35':<6} {'Chicago'}")

name   Age    City
Alice  25     New York
Bob    30     Los Angeles
Charlie 35     Chicago

### Print a number with 2 decimal places, for example, "The price is 45.67 dollars."

In [80]:
price = 45.6789
print(f"The price is {price:.2f} dollars.")
price = 45.6789
print(f"The price is {price} dollars.")

The price is 45.68 dollars.
The price is 45.6789 dollars.

Create a program that prints the multiplication table of a given number up to 10. For example, if the number is 3, the output should be: 
3 x 1 = 3 
3 x 2 = 6 
... 
3 x 10 = 30

In [73]:
number = 3
for i in range(1, 11):                                         # Challenge Questions
    print(f"{number} x {i} = {number * i}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [74]:
a=int(input())
for i in range(1, 11):
     print("3","x",i,"=",a*i)

84
3 x 1 = 84
3 x 2 = 168
3 x 3 = 252
3 x 4 = 336
3 x 5 = 420
3 x 6 = 504
3 x 7 = 588
3 x 8 = 672
3 x 9 = 756
3 x 10 = 840