if condition:
    code
else:
    code()

if condition:
    code
elif condition:
    code
elif condition:
    code
else:
    code

In [13]:
s_money = 1000
p_money = 9000

In [17]:
if s_money >= 10000:
    print("Yes")
elif (p_money + s_money) >= 10000:
    print("Yes")
else:
    print("No")

Yes

In [20]:
if (s_money >= 10000) or ((p_money + s_money) >= 10000):
    print("Yes")
else:
    print("No")

Yes

In [21]:
salary = 10000

In [22]:
if salary >= 10000:
    print("Good")
else:
    print("Not Good")

Good

In [23]:
salary = 3000

In [30]:
if salary >= 10000:
    print("Good")
elif (salary >= 5000) and (salary < 10000):
    print("Avg")
else:
    print("Not Good")

Not Good

In [25]:
age = 50
if age>=18:
    print("eligible for license")
else:
    print("not eligible")

eligible for license

In [30]:
age = 82

In [31]:
if age >= 18:
    print('approve the license')
elif age<=80:
    print ('approve the license')
else:
    print('not approve')

approve the license

In [33]:
age = 180
if age >= 18 and age < 80:
    print("driving license")
else:
    print("no")

no

In [45]:
score=75

if score >= 90:
    print("excellent performance your grade is A+")
elif score >=80:
    print("excellent performance your grade is A")
elif score >=70:
    print("excellent performance your grade is B")
else:
    print("excellent performance your grade is C")

excellent performance your grade is B

In [48]:
time = int(input("Please enter the time "))

if time < 0:
        print("Invalid")
elif 0 <= time <= 5:
        print("Night")
elif 6<= time <= 11:
        print("Morning")
elif 12 <= time <= 16:
        print("Afternoon")
elif 17 <= time <= 23:
        print("Evening")
else:
        print("Invalid")

Please enter the time 11
Morning

In [ ]:
# find largest number from 3 given numbers

In [1]:
n1 = 10
n2 = 10000
n3 = 1000

if n1==n2==n3:
    print("same")
elif n1 > n2 and n1 > n3:
    print(n1,"N1 is largest number")
elif n2 > n1 and n2 > n3:
    print(n2,"N2 is largest number")
else:
    print(n3,"N3 is largest number")

10000 N2 is largest number

In [28]:
n1 = int(input("Enter First Num "))
n2 = int(input("Enter Second Num"))
operator = input("Enter your operator (+,-,*,/):- ")

if operator == "+":
    print(n1+n2)

Enter First Num 4
Enter Second Num2
Enter your operator (+,-,*,/):- +
6

In [3]:
num1 = int(input("Enter first number:- "))
num2 = int(input("Enter second number:- "))
operator = input("Enter your operator (+,-,*,/):- ")

if operator == "+":
    print("Final Value is ",num1+num2)
elif operator == "-":
    print("Final Value is ",num1 - num2)
elif operator == "*":
    print("Final Value is ",num1 * num2)
elif operator == "/":
    if num2 == 0:
        print("0 is not allowed in Num2")
    else:
        print("Final Value is ",num1 / num2)
else:
    print("Invalid Operator")

Enter first number:- 8
Enter second number:- 2
Enter your operator (+,-,*,/):- *
Final Value is  16

In [14]:
v = "Car"
money = 2000

In [16]:
if v in ['Car',"Bike"]:
    if money >= 100 and money < 500:
        print("Then Bike")
    elif money >= 500:
        print("Car")
    else:
        print("Online")
else:
    print("Online")

Car

In [17]:
num = int(input("Enter your number"))

if num > 0:
    print("num is positive number")
else:
    if num == 0:
        print("num is Zero")
    else:
        print("num is negative")

Enter your number5
num is positive number

In [20]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
list(range(50,80))

[50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79]

In [24]:
list(range(100,1001,100))

[100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]

In [25]:
list(range(1000,99,-100))

[1000, 900, 800, 700, 600, 500, 400, 300, 200, 100]

In [26]:
list(range(5))

[0, 1, 2, 3, 4]

In [27]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

for anyvalue in iterable:
    code

In [29]:
range(10)

range(0, 10)

In [13]:
for i in "abcd":
    print(i,"python")

a python
b python
c python
d python

In [19]:
for i in range(5):
    print("Python")

Python
Python
Python
Python
Python

In [21]:
for i in "87645":
    print(i,end = "-")

8-7-6-4-5-

In [30]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [33]:
for i in "Python":
    print(i)

P
y
t
h
o
n

In [42]:
for i in range(10):
    print("Python",end = "üëç")

PythonüëçPythonüëçPythonüëçPythonüëçPythonüëçPythonüëçPythonüëçPythonüëçPythonüëçPythonüëç

In [39]:
print("Acb",end = "0")
print("abc")

Acb0abc

In [45]:
print("Python","Class",sep = "_")

Python_Class

In [47]:
l = ['abcde',"Python","Mango"]

In [55]:
for i in l:
    for j in i:
        print(j,end = "_")
    print()

a_b_c_d_e_
P_y_t_h_o_n_
M_a_n_g_o_

In [48]:
for i in l:
    print(i[0:3])

abc
Pyt
Man

In [22]:
for i in range(10):
    print(i,end = " ")

0 1 2 3 4 5 6 7 8 9

In [24]:
print("abc","def",sep = " = ")

abc = def

In [36]:
l = [45, 8, 1, 8, 2, 7,"ABC", 8, 4, 52, 54, 7, 8]

In [17]:
l = [45, 8, 1, 8, 2, 7.2, 8, 4, 52, 54, 7, 8]

e_list = []
o_list = []

for i in l:
    if i % 2 == 0:
        e_list.append(i)
    else:
        o_list.append(i)
        
        
print(e_list)
print(o_list)

[8, 8, 2, 8, 4, 52, 54, 8]
[45, 1, 7.2, 7]

In [25]:
for i in range(10):
    print(i)
    if i == 4:
        break

0
1
2
3
4

In [29]:
for i in range(10):
    if i == 4:
        continue
    print(i)

0
1
2
3
5
6
7
8
9

In [33]:
for i in "python class":
    pass

*****
*****
*****
*****
*****

In [1]:
print("*****")
print("*****")
print("*****")
print("*****")
print("*****")

*****
*****
*****
*****
*****

In [7]:
for i in range(5):
    for j in range(5):
        print("*", end = " ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [11]:
for i in range(5):
    for j in range(i+1):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [73]:
n = int(input("enter your num"))
for i in range(n):
    print("*"* n)

enter your num6
******
******
******
******
******
******

In [5]:
for i in range(5):
    for j in range(5):
        print("*",end = " ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [20]:
temp = 1
for i in range(5):
    for j in range(temp):
        print("*",end = " ")
    print()
    temp += 1

*
* *
* * *
* * * *
* * * * *

In [27]:
for i in range(5):
    for j in range(i+1):
        print("*",end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [28]:
temp = 5
for i in range(5):
    for j in range(temp):
        print("*",end = " ")
    print()
    temp -= 1

* * * * *
* * * *
* * *
* *
*

In [31]:
for i in range(5,0,-1):
    for j in range(i):
        print("*",end = " ")
    print()

* * * * *
* * * *
* * *
* *
*

In [33]:
for i in range(5):
    for j in range(i,5):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [35]:
for i in range(1,6):
    print("* "*i)

*
* *
* * *
* * * *
* * * * *

In [33]:
for i in range(20):
    print("*"*9)

*********
*********
*********
*********
*********
*********
*********
*********
*********
*********
*********
*********
*********
*********
*********
*********
*********
*********
*********
*********

*
**
***
****
*****

In [45]:
for i in range(5):
    for j in range(i+1):
        print('*',end = "")
    print()

*
**
***
****
*****

In [50]:
for i in range(1,6):
    print(i*"üòä")

üòä
üòäüòä
üòäüòäüòä
üòäüòäüòäüòä
üòäüòäüòäüòäüòä

In [52]:
for i in range(5,0,-1):
    for j in range(i):
        print("ü•≥",end = " ")
    print()

ü•≥ ü•≥ ü•≥ ü•≥ ü•≥
ü•≥ ü•≥ ü•≥ ü•≥
ü•≥ ü•≥ ü•≥
ü•≥ ü•≥
ü•≥

     *
    **
   ***
  ****
 *****

In [42]:
for i in range(5,0,-1):
    for j in range(i):
        print(" ",end = "")
    for k in range(6,i,-1):
        print("* ",end = "")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [44]:
for i in range(5,0,-1):
    for k in range(6,i,-1):
        print(" ",end = "")
    for j in range(i):
        print("* ",end = "")
    
    print()

 * * * * *
  * * * *
   * * *
    * *
     *

In [45]:
for i in range(5,0,-1):
    for j in range(i):
        print(" ",end = "")
    for k in range(6,i,-1):
        print("* ",end = "")
    print()


for i in range(5,0,-1):
    for k in range(6,i,-1):
        print(" ",end = "")
    for j in range(i):
        print("* ",end = "")
    
    print()

     *
    * *
   * * *
  * * * *
 * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

      *
     **
    ***
   ****
  *****
 ******

In [ ]:
     *
    **
   ***
  ****
 *****

     *
    **
   ***
  ****
 *****

In [57]:
for i in range(5):
    for x in range(5-i):
        print(end = " ")
    for j in range(i+1):
        print('*',end = "")
    print()
    temp -= 1

     *
    **
   ***
  ****
 *****

In [58]:
t = 5
for i in range(5):
    for j in range(t):
        print(" ",end = "")
        
    for k in range(i+1):
        print("*",end = "")
    print()
    t -= 1

     *
    **
   ***
  ****
 *****

     * 
    * * 
   * * * 
  * * * * 
 * * * * *

In [59]:
t = 5
for i in range(5):
    for j in range(t):
        print(" ",end = "")
        
    for k in range(i+1):
        print("* ",end = "")
    print()
    t -= 1

     *
    * *
   * * *
  * * * *
 * * * * *

In [11]:
for i in range(5):
    for j in range(5,i,-1):
        print(" ",end = "")
    for k in range(i+1):
        print("ü•≥",end = "")
    print()

     ü•≥
    ü•≥ü•≥
   ü•≥ü•≥ü•≥
  ü•≥ü•≥ü•≥ü•≥
 ü•≥ü•≥ü•≥ü•≥ü•≥

In [18]:
for i in range(5):
    for j in range(i+1):
        print(end = " ")
    for k in range(5,i,-1):
        print("ü•≥",end = "")
    print()

 ü•≥ü•≥ü•≥ü•≥ü•≥
  ü•≥ü•≥ü•≥ü•≥
   ü•≥ü•≥ü•≥
    ü•≥ü•≥
     ü•≥

In [19]:
space = " "
star = " *"
temp = 5

for i in range(1,6):
    print(space * i,star * temp)
    temp -= 1

   * * * * *
    * * * *
     * * *
      * *
       *

In [20]:
i = 5
for i in "asdfgfkds":
    print(i)

a
s
d
f
g
f
k
d
s

In [60]:
t = 5
for i in range(5):
    for k in range(i+1):
        print(" ",end = "")
        
    for j in range(t):
        print("* ",end = "")
        
    print()
    t -= 1

 * * * * *
  * * * *
   * * *
    * *
     *

In [41]:
t = 5
for i in range(5):
    for j in range(t):
        print(" ",end = "")
        
    for k in range(i+1):
        print("* ",end = "")
    print()
    t -= 1
    
t = 4
for i in range(4):
    for k in range(i+2):
        print(" ",end = "")
        
    for j in range(t):
        print("* ",end = "")
        
    print()
    t -= 1

     *
    * *
   * * *
  * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

      *
     **
    ***
   ****
  *****
 ******
*******
  *****
   ****
    ***
     **
      *

In [22]:
a=1
for i in range(6,0,-1):
    for j in range(i):
        print(" ",end="")
    for k in range(a):
        print("*",end="")
    a+=1
    print()
a=1
for i in range(5,0,-1):
    for k in range(a+1):
        print(" ",end="")
    for j in range(i):
        print("*",end="")

    a+=1
    print()

      *
     **
    ***
   ****
  *****
 ******
  *****
   ****
    ***
     **
      *

In [44]:
"A" * 5

'AAAAA'

In [52]:
star = "* "
space = " "

lines = int(input("how many lines you want :- "))

for i in range(lines):
    bhumi = lines - i 
    print(space * i , star * bhumi)

how many lines you want :- 5
 * * * * *
  * * * *
   * * *
    * *
     *

In [43]:

for i in range(lines):
    s = lines - i
    print(s * space,star * (i+1))

how many lines you want :- 10
            *
           * *
          * * *
         * * * *
        * * * * *
       * * * * * *
      * * * * * * *
     * * * * * * * *
    * * * * * * * * *
   * * * * * * * * * *

            *
           * *
          * * *
         * * * *

In [45]:
star = " *"
space = " "

lines = int(input("how many lines you want :- "))

for i in range(lines):
    s = lines - i
    print(s * space,star * (i+1))

how many lines you want :- 6
        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *

In [85]:
for i in range(1,6):
    print("üòç"*i)

üòç
üòçüòç
üòçüòçüòç
üòçüòçüòçüòç
üòçüòçüòçüòçüòç

In [86]:
for i in range(5,0,-1):
    for j in range(i):
        print('*',end = ' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [87]:
for i in range(4):
    for j in range(i+1):
        print('*',end = ' ')
    print()

    
    
for i in range(5,0,-1):
    for j in range(i):
        print('*',end = " ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [92]:
space=" "
star=" *"


s = int(input('Enter'))
for i in range(s):
    q=s-i
    print(i*space,q*star)

Enter5
  * * * * *
   * * * *
    * * *
     * *
      *

In [93]:
x = ' '
y = ' *'

for i in range(5):
    p = 5 - i
    print(x * i,y * p)

  * * * * *
   * * * *
    * * *
     * *
      *

In [94]:
x=" "
y=" *"

for i in range(1,7-1):
    j=7-i
    print(x*j,y*i)
for p in range(1,7):
    q=7-p
    print(p*x,q*y)

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [95]:
space = ' '
star = ' *'

number = int(input("Enter how many stars you want"))

for i in range(number):
    x = number - i
    print(space * i,star * x)

Enter how many stars you want5
  * * * * *
   * * * *
    * * *
     * *
      *

In [4]:
for i in range(5,0,-1):
    for j in range(5-i):
        print(' ',end = '')
        
    for k in range(i):
        print('* ',end = '')
    print()

* * * * *
 * * * *
  * * *
   * *
    *

In [7]:
unit = float(input("Enter your Units"))

if unit <= 100:
    total_bill = "Free Bill"
elif unit > 100 and unit <= 200:
    payable_unit = unit - 100
    total_bill = payable_unit * 5
else:
    payable_unit = unit - 200
    total_bill = (payable_unit * 10) + 500

    
    
print(total_bill)

Enter your Units89
Free Bill

In [12]:
below_100 = 2
unit_200 = 5
above_200 = 10


unit = float(input("Enter your Units"))

if unit <= 100:
    total_bill = unit * below_100
elif unit > 100 and unit <= 200:
    slot1 = 100 * below_100
    slot2 = (unit - 100) * unit_200
    total_bill = slot1 + slot2
else:
    slot1 = 100 * below_100
    slot2 = 100 * unit_200
    slot3 = (unit - 200) * above_200
    total_bill = slot1 + slot2 + slot3

    
    
print(total_bill)

Enter your Units10.5
21.0

In [3]:
space  = ' '
star = ' *'
temp = 1
stars = int(input())
for i in range(stars,0,-1):
    print(space * i,end = '')
    print(star * temp)
    temp += 1

5
      *
     * *
    * * *
   * * * *
  * * * * *

In [10]:
for i in range(5,0,-1):
    print(space * i,end = '')
    for j in range(6-i):
        print(star,end = '')
    print()

      *
     * *
    * * *
   * * * *
  * * * * *

In [5]:
count = 0
for i in range(1,5,2):
    count += i
    print('*' * (count))

*
****

*
***
*****
***
*

In [13]:
row = 5

for i in range(1,row + 1,2):
    print('*' * i)
    
for i in range(row+2,0,-2):
    print('*' * i)

*
***
*****
*******
*****
***
*

In [28]:
num = 6
for i in range(5,0,-1):
    
    j = num - i
    print(" " * i,"*" * j)

      *
     **
    ***
   ****
  *****

In [36]:
for i in range(5,0,-1):
    print(" " * i,end = "")
    for j in range(i,6):
        print("*",end = "")
    print()

     *
    **
   ***
  ****
 *****

In [29]:
"Esha" * 5

'EshaEshaEshaEshaEsha'

In [16]:
num = 6
for j in range(5,0,-1):
    for i in range(j):
        print(' ',end = ' ')
        
    num = j - num
    print("*"*num,end = '')
    
    print()

        *****

    ****

In [ ]:
      *
    * *
  * * *
* * * *

In [10]:
temp = 1
for i in range(5,0,-1):
    for j in range(i):
        print(" ",end = "")
    for k in range(temp):
        print("*",end = "")
    print()
    temp += 1

     *
    **
   ***
  ****
 *****

In [20]:
temp = 1
for i in range(5,0,-1):
    for j in range(i):
        print(" ",end = "")
    for k in range(temp):
        print("*",end = "")
    for x in range(temp-1):
        print("*",end = "")
        
        
    print()
    temp += 1

     *
    ***
   *****
  *******
 *********

In [32]:
temp = 1
for i in range(5,0,-1):
    for j in range(i):
        print(" ",end = "")
    for k in range(temp):
        print("*",end = "")
        if k == 0:
            continue
        print("*",end = "")
        
    print()
    temp += 1

     *
    ***
   *****
  *******
 *********

In [1]:
s = "This is my class"

In [3]:
c = 0
for i in s:
    c += 1

In [4]:
print()

1